.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem 2rem 2rem;
  }

.main {
  padding: 5rem 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.title {
  font-size: 4rem;
  text-align: left;
  margin-bottom: -1.5rem;
  color: white;
  font-weight: 700;
}

.subtitle {
  font-size: 1.875rem;
  color: rgb(196, 196, 213);
  margin-bottom: 3rem;
  text-align: left;
  font-weight: 300;
}

.buttonContainer {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2rem;
}

.createButton {
  display: inline-block;
  width: 15rem;
  padding: 0.6rem;
  font-size: 2.25rem;
  text-align: center;
  background-color: #0084FF;
  color: white;
  border-radius: 2rem;
  text-decoration: none;
}

.sectionTitle {
  font-size: 3rem;
  font-weight: 500;
  margin-top: 8rem;
  margin-bottom: 1rem;
}

.saltGrid {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

.saltCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s ease;
}

.saltCard:hover{
  transform: scale(1.08) translateY(-5px);
}

.saltBox {
  width: 8rem;
  height: 8rem; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  margin-bottom: 0.5rem;
}

.cation, .anion {
  font-size: 600;
  font-size: 2.25rem;
  font-weight: bold;
  text-align: center;
}
.anion {
  font-size: 1.75rem;
}

.formula {
  font-size: 1.75rem;
  margin: 0;
}
